h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

p {
	text-align: center;
}

img {
    float: left;
    margin: 0;
}

/* div related CSS */

div.container {
	padding-right: 200px;
	padding-left: 200px;
}
div.row {
	padding-bottom: 80px;
}

div.container-fluid li.navtext a {
	  color: white;
	  font-size: 60%;
}

div.navbar-header a.navbar-brand {
	color: white;
	font-size: 75%;
}

/* For the license option */

div.col-sm-4 p {
	font-size: 60%;
}

/* This is for the Navbar at the bottom */
nav.navbar {
	background-color:rgb(134, 147, 158);
}

/* This is CSS for buttons */

div.row table.table button.button{

}

/* This is CSS to add the glyphicon for send */

/* These keep the icon inside the text box */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

.inner-addon { 
    position: relative; 
}

/* Adds padding to the left side inside text box to prevent overlapping  */
.left-addon input  { 
	padding-left:  35px; 
}



